<!--EobYmr-->
<mce-app-bar app-title="app-bar">
  <div class="mce-nav-icon">
    <mce-icon>menu</mce-icon>
  </div>
  <h1 class="mce-title">App Bar</h1>
  <div class="mce-icons">
    <mce-icon>favorite</mce-icon>
    <mce-icon>search</mce-icon>
    <mce-icon>more_vert</mce-icon>
  </div>
</mce-app-bar>
<p> Upper one is root-level app bar.</p>
<p> Below one is a block-level app bar with display-level="block" and class="mce-light"</p>

<div class="container" style="position: relative">
  <mce-app-bar app-title="app-bar" display-level="block" class="mce-light">
    <div class="mce-nav-icon">
      <mce-icon>menu</mce-icon>
    </div>
    <span class="mce-title">App Bar Light</span>
    <div class="mce-icons">
      <mce-icon>favorite</mce-icon>
      <mce-icon>search</mce-icon>
      <mce-icon>more_vert</mce-icon>
    </div>
  </mce-app-bar>
</div>
