<!--aEVowx-->
<div class="container" style="position: relative; margin-top: 56px">
  <mce-bottom-nav-bar>
    <mce-nav-item icon="favorite">Favourite</mce-nav-item>
    <mce-nav-item icon="search" class="mce-disabled">Disabled</mce-nav-item>
    <mce-nav-item icon="alarm">Alarm</mce-nav-item>
    <mce-nav-item icon="music_note">Music</mce-nav-item>
  </mce-bottom-nav-bar>
</div>

<div class="container" style="position: fixed; right: 0; left: 320px; bottom: 0;">
  <mce-bottom-nav-bar class="mce-dark-bg">
    <mce-nav-item icon="favorite">Favourite</mce-nav-item>
    <mce-nav-item icon="search" class="mce-disabled">Disabled</mce-nav-item>
    <mce-nav-item icon="alarm">Alarm</mce-nav-item>
    <mce-nav-item icon="music_note">Music</mce-nav-item>
  </mce-bottom-nav-bar>
</div>
