
<!-- jYYWPg -->
<h3>Simple</h3>
<div>
  <mce-chip text="AMZ Bank"></mce-chip>
  <mce-chip avatar="ali.connors.jpg" text="AMZ Bank"></mce-chip>
  <mce-chip text="AMZ Bank" removable></mce-chip>
  <mce-chip avatar="A" text="AMZ Bank" removable on-remove="alert('chip removal')"></mce-chip>
</div>

<h3>Dark Background Example</h3>
<div>
  <mce-chip text="AMZ Bank"></mce-chip>
  <mce-chip avatar="ali.connors.jpg" text="AMZ Bank"></mce-chip>
  <mce-chip text="AMZ Bank" removable></mce-chip>
  <mce-chip avatar="A" text="AMZ Bank" removable on-remove="alert('chip removal')"></mce-chip>
</div>
