<mce-card class="mce-no-margin mce-no-shadow">
  <div class="mce-media">
    <img src="images/nature.jpg">
  </div>

  <div class="text">
    <script>
      function validateForm(form) {
        let isInvalid = Array.from(form.elements).some(e => !e.validity.valid);
        form.querySelector('mce-button').disabled = isInvalid;
      }
    </script>
    <form onchange="validateForm(this)">
      <mce-text-field required icon="person" name="first-name" label="First Name"></mce-text-field>
      <mce-text-field required icon="person" name="last-name" label="Last Name"></mce-text-field>
      <mce-text-field required icon="email" type="email" name="email" label="Email"></mce-text-field>
      <mce-text-field required icon="phone" type="phone" name="phone" label="phone"></mce-text-field>
      <mce-text-field optional="(Optional)" multi-line style="width:100%"
        icon="comment" name="message" label="messasge"
        helper-text="Enter message(Max 2000 characters)"
        label="What is your message">
      </mce-text-field>
      <div style="padding: 38px">
        <mce-button class="raised dark" disabled><mce-icon>save</mce-icon> Submit</mce-button>
      </div>
    </form>
  </div>

</mce-card>
