
<!-- rppxOe -->
<h3>Simpele</h3>
<div>
  <mce-button class="mce-raised"
    onclick="document.getElementById('dialog-1').open()">Open A Dialog</mce-button>
  <mce-dialog id="dialog-1">
    <h3 class="mce-title">Title</h3>
    <div class="mce-content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit 
    esse cillum dolore eu fugiat nulla pariatur. Excepteur 
    sint occaecat cupidatat non proident, sunt in culpa qui 
    officia deserunt mollit anim id est laborum.  
    </div>
    <hr class="mce-divider"></hr>
    <div class="mce-actions">
      <mce-button onclick="this.closest('mce-dialog').close()">cancel</mce-button>
      <mce-button onclick="this.closest('mce-dialog').close()">OK</mce-button>
    </div>
  </mce-dialog>
</div>


<h3>Dialog With Data</h3>
<div>
  <mce-button class="mce-raised"
    onclick="document.getElementById('dialog-2').open({
      title: 'Custim Title', 
      contents:'This is custom contents',
      actions: {'Custom Button': () => alert('My Button is clicked.')}
    })">Open A Dialog With Data</mce-button>
  <mce-dialog id="dialog-2">
    <h3 class="mce-title">Default Title</h3>
    <div class="mce-content">Default contents</div>
    <div class="mce-actions"></div>
  </mce-dialog>
</div>
