<style>
mce-card.home {text-align: center;}
mce-card.home mce-card {display: inline-block; max-width: 320px;}
</style>
<mce-card class="home no-margin">
  <div class="mce-media">
    <img src="images/nature3.jpg">
  </div>

  <mce-card class="mce-no-margin mce-no-shadow">
    <div class="mce-title">
      <mce-icon class="mce-double">business</mce-icon>
      <div class="mce-subtitle">Services</div>
    </div>
    <div class="mce-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      <a href="#services">Go</a>
    </div>
  </mce-card>

  <mce-card class="mce-no-margin mce-no-shadow">
    <div class="mce-title">
      <mce-icon class="mce-double">map</mce-icon>
      <div class="mce-subtitle">Location</div>
    </div>
    <div class="mce-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      <a href="#location">Go</a>
    </div>
  </mce-card>

  <mce-card class="mce-no-margin mce-no-shadow">
    <div class="mce-title">
      <mce-icon class="mce-double">comment</mce-icon>
      <div class="mce-subtitle">Contact</div>
    </div>
    <div class="mce-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      <a href="#contact">Go</a>
    </div>
  </mce-card>
</mce-card>