<style>
mce-list#simple mce-list-item {
  display: inline-block; border: 1px solid #ccc; padding: 4px; min-width: 80px; text-align: center;
}
mce-list#with-data {
  display: block; width: 200px;
}
mce-list#with-data mce-list-item {
  display: block; border: 1px solid #ccc; padding: 4px; 
}
</style>
<script>
  var listData = [
    {id: 1, value: 'Hello'}, {id: 2, value: 'World'}, {id: 3, value: 'This'},
    {id: 4, value: 'Is'}, {id: 5, value: 'MCE'}, {id: 6, value: 'List'}, {id: 7, value: 'Item'}
  ];
  function selected(event) {
    alert('Selected item ' + JSON.stringify(event.detail));
  }
  function escaped(event) {
    alert('Escaped from item ' + JSON.stringify(event.detail));
  }
</script>

<!-- MrrKoy -->
<h3>Simle List Item</h3>
<mce-list id="simple" tabindex="0" on-selected="selected(event)" on-escaped="escaped(event)">
  <mce-list-item>Hello</mce-list-item>
  <mce-list-item>World</mce-list-item>
  <mce-list-item>This</mce-list-item>
  <mce-list-item>Is</mce-list-item>
  <mce-list-item>MCE</mce-list-item>
  <mce-list-item>List</mce-list-item>
  <mce-list-item>Item</mce-list-item>
</mce-list>

<h3>List Item With Data</h3>
<mce-list id="with-data" tabindex="0" on-selected="selected(event)" on-escaped="escaped(event)">
  <mce-list-item item="listData[0]">Hello</mce-list-item>
  <mce-list-item item="listData[1]">World</mce-list-item>
  <mce-list-item item="listData[2]">This</mce-list-item>
  <mce-list-item item="listData[3]">Is</mce-list-item>
  <mce-list-item item="listData[4]">MCE</mce-list-item>
  <mce-list-item item="listData[5]">List</mce-list-item>
  <mce-list-item item="listData[6]">Item</mce-list-item>
</mce-list>
