<script>
  function openPopup(event) {
    event.target.bindPopup("<b>Hello world!</b><br />We Are Here.").openPopup();
  }
</script>
<mce-card class="mce-no-margin mce-no-shadow">
  <div class="mce-media">
    <mce-leaflet center="London, England">
      <mce-marker latlng="London, England" on-add="openPopup(event)"></mce-marker>
    </mce-leaflet>
    <!-- <img src="nature.jpg"> -->
  </div>

  <div class="mce-text">
    <mce-list>
      <ol>
        <li>
          <mce-icon class="mce-circle">schedule</mce-icon>
          <div>
            <div class="mce-title">Office Hours</div>
            <div class="mce-text">
              Monday :&nbsp;8am–6pm<br>
              Tuesday :&nbsp;8am–6pm<br>
              Wednesday :&nbsp;8am–6pm<br>
              Thursday :&nbsp;8am–6pm<br>
              Friday :&nbsp;10am–4pm</p>
            </div>
          </div>
        </li>
        <li>
          <mce-icon class="mce-circle">map</mce-icon>
          <div>
            <div class="mce-title">Location</div>
            <div class="mce-text">
              14001 Fake Street NW<br/>
              Washington, DC 20050<br/>
              Metro: Dupont Circle
            </div>
          </div>
        </li>
        <li>
          <mce-icon class="mce-circle">mail</mce-icon>
          <div>
            <div class="mce-title">Email &amp; Phone</div>
            <div class="mce-text">
              Customer Service<br/>
              my.company@email.example.com<br/>
              (202) 555-5555
            </div>
          </div>
        </li>
      </ol>
    </mce-list>
  </div>

</mce-card>
