<!-- jYYWLE -->
<h3>Navigation Drawer</h3>
<div style="position:relative; height: 180px">
  <button onclick="this.nextElementSibling.open()">Show Navigation Drawer</button>
  <mce-nav-drawer id="demo-nav-drawer" class="mce-visible">
    <mce-nav-item icon="favorite">Favourite</mce-nav-item>
    <mce-nav-item icon="search" class="mce-disabled">Disabled</mce-nav-item>
    <mce-nav-item>Alarm</mce-nav-item>
    <hr/>
    <mce-nav-item icon="music_note">Music</mce-nav-item>
  </mce-nav-drawer>
</div>
