<mce-card class="mce-no-margin mce-no-shadow">
  <div class="mce-media">
    <img src="images/nature1.jpg">
  </div>
  <div class="mce-text">
    <h2>SERVICES</h2>
    <mce-list>
      <ol>
        <li>
          <mce-icon class="mce-circle">folder</mce-icon>
          <div>
            <div class="mce-title">Service 1</div>
            <div class="mce-text">
              <p>Lorem ipsum dolor sit amet, noster philosophia intellegebat no vix, laboramus disputando mei at. Sit duis decore inciderint te, at mea volutpat delicatissimi, exerci melius lobortis ex duo. Et aeterno appareat cum, pro at ignota nemore commune. No quod choro electram has, est malis fugit ne.
            </div>
          </div>
        </li>
        <li>
          <mce-icon class="mce-circle">hotel</mce-icon>
          <div>
            <div class="mce-title">Service 2</div>
            <div class="mce-text">
              <p>Lorem ipsum dolor sit amet, noster philosophia intellegebat no vix, laboramus disputando mei at. Sit duis decore inciderint te, at mea volutpat delicatissimi, exerci melius lobortis ex duo. Et aeterno appareat cum, pro at ignota nemore commune. No quod choro electram has, est malis fugit ne.
            </div>
        </li>
        <li>
          <mce-icon class="mce-circle">local_bar</mce-icon>
          <div>
            <div class="mce-title">Service 3</div>
            <div class="mce-text">
              <p>Lorem ipsum dolor sit amet, noster philosophia intellegebat no vix, laboramus disputando mei at. Sit duis decore inciderint te, at mea volutpat delicatissimi, exerci melius lobortis ex duo. Et aeterno appareat cum, pro at ignota nemore commune. No quod choro electram has, est malis fugit ne.
            </div>
        </li>
        <li>
          <mce-icon class="mce-circle">local_cafe</mce-icon>
          <div>
            <div class="mce-title">Service 4</div>
            <div class="mce-text">
              <p>Lorem ipsum dolor sit amet, noster philosophia intellegebat no vix, laboramus disputando mei at. Sit duis decore inciderint te, at mea volutpat delicatissimi, exerci melius lobortis ex duo. Et aeterno appareat cum, pro at ignota nemore commune. No quod choro electram has, est malis fugit ne.
            </div>
        </li>
      </ol>
    </mce-list>
  </div>
</div>