<a-card class="no-margin no-shadow">
  <div class="media">
    <img src="images/nature1.jpg">
  </div>
  <div class="text">
    <h2>SERVICES</h2>
    <a-list>
      <ol>
        <li>
          <div class="icon"><an-icon class="circle">folder</an-icon></div>
          <div>
            <div class="title">Service 1</div>
            <div class="text">
              <p>Lorem ipsum dolor sit amet, noster philosophia intellegebat no vix, laboramus disputando mei at. Sit duis decore inciderint te, at mea volutpat delicatissimi, exerci melius lobortis ex duo. Et aeterno appareat cum, pro at ignota nemore commune. No quod choro electram has, est malis fugit ne.
            </div>
          </div>
        </li>
        <li>
          <div class="icon"><an-icon class="circle">hotel</an-icon></div>
          <div>
            <div class="title">Service 2</div>
            <div class="text">
              <p>Lorem ipsum dolor sit amet, noster philosophia intellegebat no vix, laboramus disputando mei at. Sit duis decore inciderint te, at mea volutpat delicatissimi, exerci melius lobortis ex duo. Et aeterno appareat cum, pro at ignota nemore commune. No quod choro electram has, est malis fugit ne.
            </div>
        </li>
        <li>
          <div class="icon"><an-icon class="circle">local_bar</an-icon></div>
          <div>
            <div class="title">Service 3</div>
            <div class="text">
              <p>Lorem ipsum dolor sit amet, noster philosophia intellegebat no vix, laboramus disputando mei at. Sit duis decore inciderint te, at mea volutpat delicatissimi, exerci melius lobortis ex duo. Et aeterno appareat cum, pro at ignota nemore commune. No quod choro electram has, est malis fugit ne.
            </div>
        </li>
        <li>
          <div class="icon"><an-icon class="circle">local_cafe</an-icon></div>
          <div>
            <div class="title">Service 4</div>
            <div class="text">
              <p>Lorem ipsum dolor sit amet, noster philosophia intellegebat no vix, laboramus disputando mei at. Sit duis decore inciderint te, at mea volutpat delicatissimi, exerci melius lobortis ex duo. Et aeterno appareat cum, pro at ignota nemore commune. No quod choro electram has, est malis fugit ne.
            </div>
        </li>
      </ol>
    </a-list>
  </div>
</div>