
<!-- VyyeMd -->
<h3>Tabs - Text Only</h3>
<mce-tabs>
  <mce-nav-item>item one</mce-nav-item>
  <mce-nav-item>item two</mce-nav-item>
  <mce-nav-item>item three</mce-nav-item>
</mce-tabs>

<h3>Tabs - Icon Only</h3>
<mce-tabs>
  <mce-nav-item icon="favorite"></mce-nav-item>
  <mce-nav-item icon="search" class="mce-active"></mce-nav-item>
  <mce-nav-item icon="alarm"></mce-nav-item>
</mce-tabs>

<h3>Tabs - Icon/Text</h3>

<mce-tabs>
  <mce-nav-item icon="favorite">item one</mce-nav-item>
  <mce-nav-item icon="search">item two</mce-nav-item>
  <mce-nav-item icon="alarm" class="mce-active">item three</mce-nav-item>
</mce-tabs>

<h3>Tabs - Dark Background</h3>
<mce-tabs class="dark-bg">
  <mce-nav-item>one</mce-nav-item>
  <mce-nav-item>two</mce-nav-item>
  <mce-nav-item class="mce-active">three</mce-nav-item>
  <mce-nav-item>four</mce-nav-item>
  <mce-nav-item>five</mce-nav-item>
  <mce-nav-item>six</mce-nav-item>
  <mce-nav-item>seven</mce-nav-item>
  <mce-nav-item>eight</mce-nav-item>
  <mce-nav-item>nine</mce-nav-item>
</mce-tabs>

