@keyframes slideInUp {
  from {
    transform: translate3d(0,100%,0)  translate(-50%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateZ(0) translate(-50%);
  }
}
@keyframes slideOutDown {
  from {
    opacity: 1;
    transform: translateZ(0) translate(-50%);
  }
  to {
    opacity: 0;
    transform: translate3d(0,100%,0) translate(-50%);
  }
}

mce-snackbar {
  visibility: hidden;
  display: block;
  position: fixed;
  padding: 14px 24px;
  min-width: 288px;
  max-width: 568px;
  background-color: #323232;
  font-size: 14px;
  border-radius: 2px; /* Rounded borders */
  color: #fff; /* White text color */
  bottom: var(--theme-height-bottom-nav-bar, 56px);
  z-index: 6;
  text-align: center;
  transform: translate(-50%);
  left: 50%;
}

mce-snackbar.mce-visible {
  visibility: visible;
  animation: slideInUp 0.5s, slideOutDown 0.5s 2.5s;
}
