:root {
  font-family: Roboto, sans-serif;
  --theme-primary: #212121;
  --theme-text-primary: #fff;
  --theme-shadow-4dp: 
    0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.ce-icon {
  font-family: 'Material Icons';
  font-size: 24px;
  display: inline-block;
  padding: 16px;
}
