@keyframes ce-ripple {
  0%   { transform: scale(0); }
  20%  { transform: scale(1); }
  100% { opacity: 0; transform: scale(2); }
}

body > an-app-bar.fixed + * {
  margin: 56px 0;
  padding: 16px;
  background-color: var(--theme-color-100, #f5f5f5);
}
an-app-bar {
  background-color: var(--theme-color-600, #757575);
  box-shadow: var(--theme-shadow-4dp, 0   4px  8px rgba(0,0,0,0.18), 0  4px  8px rgba(0,0,0,0.23));
  color: var(--theme-text-color-0, #ffffff);
  display: block;
  left: 0;
  min-height: var(--theme-height-app-bar, 56px);
  top: 0;
  width: 100%;
  z-index: 4;
}
an-app-bar.fixed {
  position: fixed;
}
an-app-bar.light {
  color: var(--theme-text-color-600, #757575);
  background-color: var(--theme-color-0, #ffffff);
}
an-app-bar > .nav-icon {
  float: left;
}
an-app-bar > .icons {
  float: right;
}
an-app-bar > .title {
  display: inline-block;
  line-height: var(--theme-height-app-bar, 56px);
  font-size: var(--theme-title-font-size, 20px);
  font-weight: var(--theme-title-font-weight, 500);
  margin-left: 16px;
  margin: 0;
}
an-app-bar .icon,
an-app-bar an-icon {
  padding: 16px;
}
an-app-bar .icon:after,
an-app-bar an-icon:after {
  content: '';
  display: block;
  position: absolute;
  width: 56px;
  height: 56px;
  margin-left: -18px;
  margin-top: -40px;
  background: #3f51b5;
  border-radius: 100%;
  opacity: .6;
  transform: scale(0);
}

an-app-bar .icon:active:after,
an-app-bar an-icon:active:after {
  animation: ce-ripple .4s ease-out;
}

an-app-bar .icons > * {
  display: inline-block;
}
