/**
  https://material.io/guidelines/components/selection-controls.html
*/
mce-checkbox {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  fill: var(--theme-color-a100, #F5BEA9);
}

mce-checkbox[disabled] {
  pointer-events: none;
  fill: var(--theme-text-color-500, #9e9e9e);
}

mce-checkbox:after { /* to show it's pressed down */
  content: '';
  width: 48px;
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  background-color: #3f51b5;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  opacity: 0.6;
  transform: scale(0);
  visibility: hidden;
}

mce-checkbox:active:after {
  transform: scale(1);
  visibility: visible;
  animation: ce-ripple 1s ease-out;
}

mce-checkbox input {
  margin: 0;
  position: absolute;
  opacity: 0;
  width: 24px;
  height: 24px;
  top: 0;
  bottom: 0;
  z-index: 1;
}

mce-checkbox input + svg {
  z-index: 0;
}

mce-checkbox input + svg path {
  visibility: hidden;
}
mce-checkbox input:not(checked) + svg path.unchecked {
  visibility: visible;
}
mce-checkbox input:checked + svg path.checked {
  visibility: visible;
}

