/*https://material.io/guidelines/components/dialogs.html#dialogs-specs*/
mce-dialog {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.mce-visible {
    visibility: visible;
    z-index: 24;
  }

  &:not(.mce-visible) {
    visibility: hidden;
  }

  > .mce-page-blocker {
    position: absolute; /* fixed */
    background-color: #000;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
    top: 0;
  }

  > .mce-container {
    padding: 24px;
    position: absolute; /* fixed */
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    min-width: 280px; /* 56 x 5 */
    max-width: calc(100% - 80px);
    box-shadow: var(--theme-shadow-10dp, 0 10px 20px rgba(0,0,0,0.19), 0  6px  6px rgba(0,0,0,0.23));
    border: 1px solid var(--theme-color-200, #eeeeee);
    border-radius: var(--theme-border-radius, 2px);
    background-color: var(--theme-color-0, #ffffff);
  }

  > .mce-container .mce-divider {
    display: block;
    margin: 0px -24px;
    height: 1px;
    border: 1px solid #ccc;
    border-width: 0 0 1px 0;
  }

  > .mce-container .mce-title {
    color: var(--theme-text-color-900, #212121);
    padding-bottom: 20px;
    font-size: var(--theme-title-font-size, 20px);
    font-weight: var(--theme-title-font-weight, 500);
    margin: 0;
  }

  > .mce-container .mce-content {
    padding-bottom: 24px;
    color: var(--theme-text-color-500, #9e9e9e);
  }

  > .mce-container .mce-actions {
    padding: 8px;
    margin-right: -16px;
    margin-bottom: -16px;
    text-align: right;
  }

  > .mce-container .mce-actions > * {
    display: inline-block;
    margin-left: 8px;
    padding: 8px 0px;
    min-width: 64px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
  }
  
}
