<!-- ZvaEez -->
<h3>Simple Card</h3>
<mce-card>
  <div class="mce-title">
    <h1>Title Goes Here</h1>
    <div class="mce-subtitle">Subtitle here</div>
  </div>
  <div class="mce-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit 
    esse cillum dolore eu fugiat nulla pariatur. Excepteur 
    sint occaecat cupidatat non proident, sunt in culpa qui 
    officia deserunt mollit anim id est laborum.        
  </div>
  <div class="mce-actions">
    <a href="javascript:void(0)">ACTION 1</a>
    <a href="javascript:void(0)">ACTION 2</a>
  </div>
</mce-card>

<h3>Card with Media</h3>
<mce-card>
  <div class="mce-media">
    <img src="nature.jpg" />
  </div>
  <div class="mce-text">
    It's to show media is expanded to full width by ratio of 16x9
  </div>
</mce-card>

<h3>Card Inside Card</h3>
<mce-card>
  <div class="mce-title">
    <h1>Title Goes Here</h1>
    <div class="mce-subtitle">Subtitle here</div>
  </div>
  <mce-card>
    <div class="mce-title">
      <h1>Title Goes Here</h1>
      <div class="mce-subtitle">Subtitle here</div>
    </div>
    <div class="mce-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit 
      esse cillum dolore eu fugiat nulla pariatur. Excepteur 
      sint occaecat cupidatat non proident, sunt in culpa qui 
      officia deserunt mollit anim id est laborum.        
    </div>
  </mce-card>
</mce-card>

<script>
  window.addEventListener('load', _ => {
    Array.from(document.querySelectorAll('mce-card')).forEach(card => {
      card.addEventListener('mousedown', _ => card.classList.add('mce-picked-up'));
      card.addEventListener('touchstart', _ => card.classList.add('mce-picked-up'));
      card.addEventListener('mouseup', _ => card.classList.remove('mce-picked-up'));
      card.addEventListener('touchend', _ => card.classList.remove('mce-picked-up'));
    })
  });
</script>
