
<!-- RxxrRJ -->
<h3> Expansion Panel</h3>
  <mce-expansion-panel>
    <div class="mce-title">
      <h1>Trip name</h1>
      <div>Carribean Cruise</div>
    </div>
    <div class="mce-text">
      Text: 14sp
      Left and right padding: 16dp
      Top padding: 16dp or 24dp (when a primary title is present)
      Bottom padding: 16dp (if there are additional actions or supporting text) or 24dp (if there are no actions or supporting text)
    </div>
  </mce-expansion-panel>
  <mce-expansion-panel>
    <div class="mce-title">
      <h1>Trip name</h1>
      <div>Carribean Cruise</div>
    </div>
    <div class="mce-text">
      Text: 14sp
      Left and right padding: 16dp
      Top padding: 16dp or 24dp (when a primary title is present)
      Bottom padding: 16dp (if there are additional actions or supporting text) or 24dp (if there are no actions or supporting text)
    </div>
  </mce-expansion-panel>
  <mce-expansion-panel class="mce-expanded">
    <div class="mce-title">
      <h1>Trip name</h1>
      <div>Carribean Cruise</div>
    </div>
    <div class="mce-text">
      Text: 14sp
      Left and right padding: 16dp
      Top padding: 16dp or 24dp (when a primary title is present)
      Bottom padding: 16dp (if there are additional actions or supporting text) or 24dp (if there are no actions or supporting text)
    </div>
    <div class="mce-actions">
      <a href="javascript:void(0)" class="mce-button">CANCEL</a>
      <a href="javascript:void(0)" class="mce-button">SAVE</a>
    </div>
  </mce-expansion-panel>

