
<!-- MrrKbK -->
<h3>Simple Icons</h3>
<div>
  Small: <mce-icon class="mce-small">face</mce-icon>
  Default: <mce-icon>face</mce-icon>
  Big: <mce-icon class="mce-big">face</mce-icon>
  Double: <mce-icon class="mce-double">face</mce-icon>
  Image: <mce-icon class="mce-double" img="ali.connors.jpg"></mce-icon>
</div>

<h3>Font-Awwome Icons</h3>
<div>
  Small: <mce-icon class="mce-small">fa-facebook</mce-icon>
  Default: <mce-icon>fa-linkedin</mce-icon>
  Big: <mce-icon class="mce-big">fa-twitter</mce-icon>
  Small: <mce-icon class="mce-small mce-circle">fa-facebook</mce-icon>
  Default: <mce-icon class="mce-circle">fa-linkedin</mce-icon>
  Big: <mce-icon class="mce-circle mce-big">fa-twitter</mce-icon>
</div>

<h3>Circled Icons</h3>
<div>
  Small: <mce-icon class="mce-circle mce-small">face</mce-icon>
  Default: <mce-icon class="mce-circle">face</mce-icon>
  big: <mce-icon class="mce-circle mce-big">face</mce-icon>
</div>

<h3>Squared Icons</h3>
<div>
  Small: <mce-icon class="mce-square mce-small">face</mce-icon>
  Default: <mce-icon class="mce-square">face</mce-icon>
  Big: <mce-icon class="mce-square big">face</mce-icon>
</div>

<h3>Disabled Icons</h3>
<div>
  Default: <mce-icon class="mce-disabled">face</mce-icon>
  Circle: <mce-icon class="mce-disabled mce-circle">face</mce-icon>
  Square: <mce-icon class="mce-disabled mce-square">face</mce-icon>
</div>

<h3>Reactive Icons</h3>
<div>
  Default: <mce-icon class="mce-reactive">face</mce-icon>
  Cicle: <mce-icon class="mce-reactive mce-circle">face</mce-icon>
  Square: <mce-icon class="mce-reactive mce-square">face</mce-icon>
  Image: <mce-icon class="mce-reactive mce-double" img="ali.connors.jpg"></mce-icon>
</div>

<h3>Image Icons</h3>
<div>
  Default: <mce-icon img="ali.connors.jpg"></mce-icon>
  Small: <mce-icon img="ali.connors.jpg" class="mce-small"></mce-icon>
  Big: <mce-icon img="ali.connors.jpg" class="mce-big"></mce-icon>
  Double: <mce-icon img="ali.connors.jpg" class="mce-double"></mce-icon>
  Circle: <mce-icon img="ali.connors.jpg" class="mce-circle"></mce-icon>
  Square: <mce-icon img="ali.connors.jpg" class="mce-square"></mce-icon>
</div>

<h3>Dark Background Icons</h3>
<div class="dark-bg">
  Small: <mce-icon class="mce-dark-bg mce-small">face</mce-icon>
  Default: <mce-icon class="mce-dark-bg">face</mce-icon>
  Big: <mce-icon class="mce-dark-bg mce-big">face</mce-icon>
  Double: <mce-icon class="mce-dark-bg mce-double">face</mce-icon>
  Circle: <mce-icon class="mce-circle mce-dark-bg">face</mce-icon>
  Square: <mce-icon class="mce-square mce-dark-bg">face</mce-icon>
  Disabled: <mce-icon class="mce-disabled mce-bark-bg">face</mce-icon>
  Reactive: <mce-icon class="mce-reactive mce-dark-bg">face</mce-icon>
</div>
