<mce-inview>
 <template>
   <div class="comment">This image is only rendered when this is in viewport.</div>
   <img src="https://picsum.photos/800/400/?image=1" />
 </template>
</mce-inview>

<mce-inview>
 <template>
   <div class="comment">This image is only rendered when this is in viewport.</div>
   <img src="https://picsum.photos/800/400/?image=2" />
 </template>
</mce-inview>

<mce-inview>
 <template>
   <div class="comment">This image is only rendered when this is in viewport.</div>
   <img src="https://picsum.photos/800/400/?image=3" />
 </template>
</mce-inview>