
<!-- xppZrL -->
<h3>Menu</h3>
<div style="display:inline-block; position: relative">
  <button onclick="this.nextElementSibling.open()">Show/Hide Menu</button>
  <mce-menu id="demo-menu" position="bottom-left">
    <mce-nav-item icon="favorite" shortcut="ctrl-d">nav item text</mce-nav-item>
    <hr>
    <mce-nav-item class="mce-disabled" icon="home" shortcut="ctrl-d">nav item text</mce-nav-item>
    <mce-nav-item icon="mail" shortcut="ctrl-d">nav item text</mce-nav-item>
    <mce-nav-item icon="search" shortcut="ctrl-d">nav item text</mce-nav-item>
  </mce-menu>
</div>

<h3>Menu Positions</h3>

<div class="positioned">
  <button onclick="this.nextElementSibling.open()">Bottom Left</button>
  <mce-menu id="demo-menu" position="bottom-left" class="mce-visible">
    <mce-nav-item shortcut="alt-a">nav item text</mce-nav-item>
    <mce-nav-item class="mce-disabled" shortcut="alt-b">nav item text</mce-nav-item>
  </mce-menu>
</div>

<div class="positioned" style="text-align: right">
  <button onclick="this.nextElementSibling.open()">Bottom Right</button>
  <mce-menu id="demo-menu" position="bottom-right" class="mce-visible">
    <mce-nav-item shortcut="alt-a">nav item text</mce-nav-item>
    <mce-nav-item class="mce-disabled" shortcut="alt-b">nav item text</mce-nav-item>
  </mce-menu>
</div>

<div class="positioned"> 
  <br/><br/><br/><br/><br/><br/><br/><br/>
  <button onclick="this.nextElementSibling.open()">Top Left</button>
  <mce-menu id="demo-menu" position="top-left" class="mce-visible">
    <mce-nav-item shortcut="alt-a">nav item text</mce-nav-item>
    <mce-nav-item class="mce-disabled" shortcut="alt-b">nav item text</mce-nav-item>
  </mce-menu>
</div>

<div class="positioned" style="text-align: right">
  <br/><br/><br/><br/><br/><br/><br/><br/>
  <button onclick="this.nextElementSibling.open()">Top Right</button>
  <mce-menu id="demo-menu" position="top-right" class="mce-visible">
    <mce-nav-item shortcut="alt-a">nav item text</mce-nav-item>
    <mce-nav-item class="mce-disabled" shortcut="alt-b">nav item text</mce-nav-item>
  </mce-menu>
</div>

