
<!-- ZvvQap -->
<h3>Tooltip</h3>
<div>
  <mce-button class="mce-raised">
    <mce-tooltip>This is a tooltip for a button</mce-tooltip>
    Mouse
  </mce-button>
  <mce-button class="mce-raised">
    <mce-tooltip>This is a tooltip for a button</mce-tooltip>
    Over
  </mce-button>
  <mce-button class="mce-raised">
    <mce-tooltip>This is a tooltip for a button</mce-tooltip>
    To See
  </mce-button>
  <mce-button class="mce-raised" style="float: right">
    <mce-tooltip>This is a tooltip for a button</mce-tooltip>
    Tooltip
  </mce-button>
</div>

