/*https://material.io/guidelines/components/text-fields.html*/
mce-tabs {
  position: relative;
  background-color: var(--theme-color-50, #FAFAFA);
  border-radius: 2px;
  bottom: 0;
  color: var(--theme-color-700, #757575);
  display: flex;
  font-size: 0px;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;

  &.dark-bg {
    > .mce-indicator {
      background-color: var(--theme-color-a100, #ffff00);
    }

    > mce-nav-item {
      mce-icon, .mce-text {
        color: var(--theme-text-color-300, #e0e0e0);
      }

    }
    
    > mce-nav-item.active {
      mce-icon,.mce-text {
        color: var(--theme-text-color-0, #fffff);
      }
    }
  }

  > .mce-indicator {
    position: absolute;
    bottom: 0px;
    height: 2px;
    background-color: var(--theme-color-500, #9e9e9e);
    left: 0%;
  }

  > mce-nav-item {
    min-width: 72px; /* 160px for larger views */
    text-align: center;
    min-height: 48px;
    flex: 1;
    cursor: pointer;

    &.mce-active mce-icon,
    &.mce-active .mce-text {
      color: var(--theme-text-color-900, #212121);
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 120px;
      height: 120px;
      margin-left: -60px;
      margin-top: -60px;
      background: #3f51b5;
      border-radius: 100%;
      opacity: .6;
      visibility: hidden;
      transform: scale(0);

      &:active {
        animation: ce-ripple 1s ease-out;
      }

    }

    mce-icon {
      padding: 12px 0;
      color: var(--theme-text-color-700, #757575);
      display: block;

      ~ .mce-text {
        display: block;
        position: relative;
        top: -20px;
        height: 24px;

        &:empty {
          padding: 0;
          height: 0;
          font-size: 0;
        }
      }
    }

    .mce-text {
      display: block;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 48px;
    }
  }

}

