<!-- No ShadowDOM for simplicity -->

<template for="AppBar">
  <style>
    an-app-bar {
      background-color: var(--theme-color-50, #ffffff);
      box-shadow: var(--theme-shadow-4dp);
      color: var(--theme-text-color-900, #212121);
      display: block;
      left: 0;
      min-height: var(--theme-height-app-bar);
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 4;
    }
    an-app-bar.theme-reversed {
      background-color: var(--theme-text-color-900, #212121);
      color: var(--theme-color-50, #ffffff);
    }
    an-app-bar[fixed] {
      position: fixed;
    }
    an-app-bar .title {
      display: inline-block;
      line-height: var(--theme-height-app-bar);
      font-size: 20px;
      font-weight: 500;
      margin-left: 16px;
    }
    an-app-bar [md-icon] {
      padding: 16px;
    }
    an-app-bar [md-icon]:after {
      content: '';
      display: block;
      position: absolute;
      width: 56px;
      height: 56px;
      margin-left: -18px;
      margin-top: -40px;
      background: #3f51b5;
      border-radius: 100%;
      opacity: .6;
      transform: scale(0);
    }

    an-app-bar [md-icon]:active:after {
      animation: ripple .4s ease-out;
    }

    an-app-bar .icons > * {
      display: inline-block;
    }
  </style>
</template>

<script>
  var thisScript = document.currentScript;

  class AppBar extends HTMLElement {
    constructor() {
      super();
      let template = thisScript.ownerDocument.querySelector('template[for=AppBar]');
      let style = template.content.querySelector('style').cloneNode(true);
      style.setAttribute('id', 'an-app-bar-style');
      (!document.querySelector('#an-app-bar-style')) && this.insertBefore(style, this.firstChild);
    }

    connectedCallback() {}
    disconnectedCallback() {}
    attributeChangedCallback(a,o,n) {}
  }
  
  customElements.define('an-app-bar', AppBar);
</script>