<template for="AppBar">
  <link rel="stylesheet" href="../components/common.css">
  <style>
    :host {
      background-color: var(--theme-color-50, #ffffff);
      box-shadow: var(--theme-shadow-4dp);
      color: var(--theme-text-color-900, #212121);
      display: block;
      left: 0;
      min-height: var(--theme-height-app-bar);
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 4;
    }
    :host(.theme-reversed) {
      background-color: var(--theme-text-color-900, #212121);
      color: var(--theme-color-50, #ffffff);
    }
    :host([fixed]) {
      position: fixed;
    }
    .title {
      display: inline-block;
      line-height: var(--theme-height-app-bar);
      font-size: 20px;
      font-weight: 500;
      margin-left: 16px;
    }
    [md-icon] {
      padding: 16px;
    }
    #container ::slotted([md-icon]) {
      padding: 16px;
    }
    #container ::slotted(a) {
      text-decoration: none;
      color: inherit;
    }
    #container #icons :slotted(div) {
      display: inline-block;
    }
  </style>
  <div id="container">
    <div class="float-left" id="menu">
      <slot name="menu-icon"></slot>
    </div>
    <div class="title">
      <slot name="title"></slot>
    </div>
    <div class="float-right" id="icons">
      <slot name="action-icon"></slot>
    </div>
    <br class="clear-both" />
    <slot></slot>
  </div>
</template>

<script>
  var thisScript = document.currentScript;

  class AppBar extends HTMLElement {
    constructor() {
      super();
      let shadowRoot = this.attachShadow({mode: 'open'});
      const template = thisScript.ownerDocument.querySelector('template[for=AppBar]');
      shadowRoot.appendChild(template.content.cloneNode(true));
    }

    connectedCallback() {}
    disconnectedCallback() {}
    attributeChangedCallback(a,o,n) {}
  }
  
  customElements.define('an-app-bar', AppBar);
</script>