<!--
  https://material.io/guidelines/components/bottom-navigation.html#bottom-navigation-specs
-->
<template for="BottomNavBar">
  <link rel="stylesheet" href="../components/common.css">
  <style>
  :host {
    z-index: 8;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 56px;
    display: block;
  }
  #container {
    height: 100%;
    font-size: 0px;
    background-color: var(--theme-color-50);
    color: var(--theme-color-900);
    transition: var(--theme-animation-dropdown);
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: var(--theme-shadow-1dp);
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  #container ::slotted(*) {
    flex: 1;
  }
  </style>
  <div id="container">
    <slot></slot>
  </div>
</template>

<script>
  var thisScript = document.currentScript;

  class BottomNavBar extends HTMLElement {
    constructor() {
      super();
      let shadowRoot = this.attachShadow({mode: 'open'});
      const template = thisScript.ownerDocument.querySelector('template[for=BottomNavBar]');
      shadowRoot.appendChild(template.content.cloneNode(true));
      this.container = shadowRoot.querySelector('#container');
      this.container.addEventListener('click', this.setActiveItem.bind(this));
    }

    connectedCallback() {}
    disconnectedCallback() {}
    attributeChangedCallback(a,o,n) {}

    setActiveItem(event) {
      Array.from(this.querySelectorAll('a-nav-item')).forEach(el => el.removeAttribute('active'));
      event.target.setAttribute('active','');
    }
  }
  
  customElements.define('a-bottom-nav-bar', BottomNavBar);
</script>
