<!--
  https://material.io/guidelines/components/bottom-navigation.html#bottom-navigation-specs
-->
<template for="BottomNavBar">
  <style>
    a-bottom-nav-bar {
      background-color: var(--theme-color-50);
      border-radius: 2px;
      border: 1px solid #ccc;
      bottom: 0;
      box-shadow: var(--theme-shadow-1dp);
      color: var(--theme-color-900);
      display: flex;
      font-size: 0px;
      height: var(--theme-height-bottom-nav-bar);
      justify-content: space-between;
      margin: 0 auto;
      position: fixed;
      width: 100%;
      z-index: 8;
    }
    a-bottom-nav-bar > * {
      flex: 1;
    }
  </style>
</template>

<script>
( function() {
  var thisScript = document.currentScript;

  class BottomNavBar extends HTMLElement {
    constructor() {
      super();
      let template = thisScript.ownerDocument.querySelector('template[for=BottomNavBar]');
      let style = template.content.querySelector('style').cloneNode(true);
      style.setAttribute('id', 'a-bottom-nav-bar-style');
      (!document.querySelector('#a-bottom-nav-bar-style')) && this.insertBefore(style, this.firstChild);
    }

    connectedCallback() {}
    disconnectedCallback() {}
  }
  
  customElements.define('a-bottom-nav-bar', BottomNavBar);
})();
</script>
