<template for="Chip">
  <style>
    a-chip {
      height: 32px;
      display: inline-block;
      border-radius:16px; 
      background-color: var(--theme-color-300);
      font-size: 0;
      overflow: auto;
    }

    a-chip:hover {
      background-color: var(--theme-color-500);
    }

    a-chip .avatar {
      height: 32px;
      width: 32px;
      line-height: 32px;
      text-align: center;
      border-radius: 50%;
      background-color: var(--theme-color-600);
      color: var(--theme-text-color-0);
      font-size: 14px;
      float: left;
      overflow: hidden;
    }

    a-chip .text {
      color: var(--theme-text-color-800);
      display: inline-block;
      height: 32px;
      padding: 0 12px;
      font-size: 12px;
      vertical-align: middle;
      line-height: 32px;
      float: left;
    }
    a-chip:hover .text {
      color: var(--theme-text-color-0);
    }
    a-chip .avatar ~ .text {
      padding-left: 8px;
    }

    a-chip .delete {
      display: inline-block;
      background-color: var(--theme-color-500);
      color: var(--theme-text-color-0);
      border-radius: 50%;
      height: 24px;
      width: 24px;
      line-height: 24px;
      text-align: center;
      font-size: 12px;
      margin: 4px 4px 4px -8px;
    }
    a-chip:hover .delete {
      background-color: var(--theme-color-0);
      color: var(--theme-text-color-600);
    }
  </style>
</template>

<script>
( function() {
  var thisScript = document.currentScript;

  class Chip extends HTMLElement {
    constructor() {
      super();
      let template = thisScript.ownerDocument.querySelector('template[for=Chip]');
      let style = template.content.querySelector('style').cloneNode(true);
      style.setAttribute('id', 'a-chip-style');
      (!document.querySelector('#a-chip-style')) && this.insertBefore(style, this.firstChild);
      this._buildHTML();
    }

    connectedCallback() {}
    disconnectedCallback() {}

    _buildHTML() {
      let avatar = this.getAttribute('avatar');
      let text = this.getAttribute('text');
      let removable = this.getAttribute('removable');
      let onRemove = this.getAttribute('on-remove');

      if (avatar) {
        this.insertAdjacentHTML('beforeend', `<div class="avatar">${avatar}</div>`);
      }
      if (text) {
        this.insertAdjacentHTML('beforeend', `<div class="text">${text}</div>`);
      }
      if (removable !== null) {
        let removeEl = document.createElement('div');
        removeEl.classList.add('delete');
        removeEl.setAttribute('md-icon','');
        removeEl.innerHTML = 'clear';

        removeEl.addEventListener('click', event => {
          let customEvent = new CustomEvent('remove', event);
          this.dispatchEvent(customEvent);
        })

        this.appendChild(removeEl);

        this.addEventListener('remove', function(event) {
          let func = new Function(onRemove);
          func();
          this.remove();
        });
      }
    }

  }
  
  customElements.define('a-chip', Chip);
})();
</script>