<!--
  ref. 
    * https://material.io/guidelines/components/menus.html#menus-specs
    * https://material.io/components/web/catalog/menus/

  observable attribute
   * visible

  Requirements
    # observable attribute
      . visible
    # styling
      . z-index: 8
      . shadow: 1
      . padding: 8px 0px
    # positionalble: bottom-right, top-right,bottom-left(default), top-left
    # one DOM, one menu display
    # hide DOM, when DOM element clicked
    # TODO: multi-level meu
    # TODO: respond to menu item changed

  Bug: 
    # css animation is not right

-->
<template for="Menu">
  <link rel="stylesheet" href="../components/common.css">
  <style>
  :host {
    z-index: 8;
    padding: 8px 0px;
    box-shadow: var(--theme-shadow-1dp);
    background-color: var(--theme-text-primary);
    overflow-y: auto;
    position: absolute;
    display: block;
    font-size: 16px;
  }
  :host(:not([visible])) {
    visibility: hidden;
  }
  :host([visible]) {
    visibility: visible;
  }
  :host([position=bottom-right]) {
    right: 16px;
    top: 48px;
  }
  :host([position=bottom-left]) {
    left: 16px;
    top: 48px;
  }
  :host([position=top-right]) {
    right: 16px;
    bottom: 48px;
  }
  :host([position=top-left]) {
    left: 16px;
    bottom: 48px;
  }
  #container {
    display: block;
    background-color: var(--theme-text-primary);
    color: var(--theme-primary);
  }
  #container ::slotted(hr), 
  #container .divider {
    display: block;
    margin: 4px 0px;
    height: 1px;
    border: 1px solid #ccc;
    border-width: 0 0 1px 0;
  }
  </style>
  <div id="container">
    <slot></slot>
  </div>
</template>

<script>
  var thisScript = document.currentScript;

  class Menu extends HTMLElement {
    constructor() {
      super();
      let shadowRoot = this.attachShadow({mode: 'open'});
      const template = thisScript.ownerDocument.querySelector('template[for=Menu]');
      shadowRoot.appendChild(template.content.cloneNode(true));
      this.containerEl = shadowRoot.querySelector('#container');
      this.documentClickHandler = this.closeWhenDocumentClicked.bind(this);
      this.showJustCalled = false; // if open by JS, not to close immediately
    }

    static get observedAttributes() {
      return ['visible']; 
    }

    get visible() {
      return this.hasAttribute('visible');
    }

    set visible(visible) {
      visible ? this.setAttribute('visible','') : this.removeAttribute('visible');
    }

    connectedCallback() {
      this.show(this.visible);
    }

    disconnectedCallback() {
    }

    attributeChangedCallback(attr, oldVal, newVal) {
      (attr === 'visible') && this.show(newVal !== null);
    }

    show(visible) {
      if (visible) {
        this.hideAllOtherMenus();
        this.containerEl.classList.add("visible");
        document.addEventListener('click', this.documentClickHandler);
        this.showJustCalled = true;
        setTimeout(_ => this.showJustCalled = false, 100);
      } else {
        this.containerEl.classList.remove("visible");
        document.removeEventListener('click', this.documentClickHandler);
      }
    }

    hideAllOtherMenus() {
      Array.from(document.querySelectorAll('a-menu')).forEach(menu => {
        //menu.removeAttribute('visible');
      });
    }

    closeWhenDocumentClicked(event) {
      if (this.showJustCalled === false && !this.contains(event.target)) {
        this.visible = false;
      }
    }

  }
  
  customElements.define('a-menu', Menu);
</script>