<!--
  ref. 
    * https://material.io/guidelines/components/menus.html#menus-specs
    * https://material.io/components/web/catalog/menus/

  Requirements
    * must display icon, text, on the left and shortcut on the right
    * must have hover effect
    * must to have click effect
    * when disabled
      * must not have hover effect
      * must not have click effect
-->
<template for="MenuItem">
  <link rel="stylesheet" href="../components/common.css">
  <style>
  :host-context(:not(a-menu)) :host {  /* only display inside menu */
    display: none;
  }
  :host {
    height: 48px;
    padding: 8px 16px;
    font-size: 16px;
    display: block;
  }
  :host([disabled]) {
    color: var(--theme-color-400);
    pointer-events: none;
  }
  :host(:not([disabled]):hover) {
    background-color: var(--theme-color-200);
  }
  :host(:not([disabled]):active) {
    background-color: var(--theme-color-50);
  }
  #container {
    line-height: 32px;
  }
  #container img {
    height: 16px;
  }
  #container:not([disabled]):hover {
    background-color: var(--theme-color-200);
  }
  #container:not([disabled]):active {
    background-color: var(--theme-color-50);
  }
  #container ::slotted(a) {
    text-decoration: none;
  }
  #container [md-icon] {
    vertical-align: middle;
    padding-right: 8px;
  }
  #container #shortcut {
    padding-left: 24px;
    float: right;
  }
  </style>
  <div id="container">
    <span id="icon"></span>
    <slot></slot>
    <div id="shortcut"></div>
  </div>
</template>

<script>
  class MenuItem extends HTMLElement {
    constructor() {
      super();
      let shadowRoot = this.attachShadow({mode: 'open'});
      const template = document.currentScript.ownerDocument.querySelector('template[for=MenuItem]');
      shadowRoot.appendChild(template.content.cloneNode(true));
    }

    static get observedAttributes() {}

    connectedCallback() {
      this.icon = this.getAttribute('icon');
      this.shortcut = this.getAttribute('shortcut');
      if (this.icon) {
        let isMDIcon = this.icon.match(/^[a-z_]+$/);
        this.iconEl = this.shadowRoot.querySelector('#icon');
        if (isMDIcon) {
          this.iconEl.setAttribute('md-icon', '');
          this.iconEl.innerHTML = this.icon;
        } else {
          this.iconEl.insertAdjacentHTML('beforeend', '<img src="'+this.icon+'" />')
        }
      }
      if (this.shortcut) {
        this.shortcutEl = this.shadowRoot.querySelector('#shortcut');
        this.shortcutEl.innerHTML = this.shortcut;
      }
    }

    disconnectedCallback() {}
    attributeChangedCallback(a,o,n) {}
  }
  
  customElements.define('a-menuitem', MenuItem);
</script>