<!--
  ref. 
    * https://material.io/guidelines/components/menus.html#menus-specs
    * https://material.io/components/web/catalog/menus/

  observable attribute
   * visible

  Requirements
    # observable attribute
      . visible
    # styling
      . z-index: 8
      . shadow: 1
      . padding: 8px 0px
    # positionalble: bottom-right, top-right,bottom-left(default), top-left
    # one DOM, one menu display
    # hide DOM, when DOM element clicked
    # TODO: multi-level meu
    # TODO: respond to menu item changed

  Bug: 
    # css animation is not right

-->
<template for="Menu">
  <style>
  a-menu {
    background-color: var(--theme-text-primary);
    box-shadow: var(--theme-shadow-1dp);
    color: var(--theme-primary);
    font-size: 16px;
    overflow-y: auto;
    padding: 8px 0px;
    position: absolute;
    z-index: 8;
  }
  a-menu:not([visible]) {
    visibility: hidden;
  }
  a-menu[visible] {
    display: block;
    visibility: visible;
  }
  a-menu[position=bottom-right] {
    right: 16px;
    top: 48px;
  }
  a-menu[position=bottom-left] {
    left: 16px;
    top: 48px;
  }
  a-menu[position=top-right] {
    right: 16px;
    bottom: 48px;
  }
  a-menu[position=top-left] {
    left: 16px;
    bottom: 48px;
  }
  a-menu hr, 
  a-menu .divider {
    display: block;
    margin: 4px 0px;
    height: 1px;
    border: 1px solid #ccc;
    border-width: 0 0 1px 0;
  }
  </style>
</template>

<script>
  var thisScript = document.currentScript;

  class Menu extends HTMLElement {
    constructor() {
      super();
      let template = thisScript.ownerDocument.querySelector('template[for=Menu]');
      let style = template.content.querySelector('style').cloneNode(true);
      style.setAttribute('id', 'a-menu-style');
      this.documentClickHandler = this.closeWhenDocumentClicked.bind(this);
      (!document.querySelector('style#a-menu-style')) && this.insertBefore(style, this.firstChild);
    }

    static get observedAttributes() {
      return ['visible']; 
    }

    attributeChangedCallback(attr, oldVal, newVal) {
      let show =  newVal !== null;
      if (show) {
        Array.from(document.querySelectorAll('a-menu')).forEach(menu => {
          (this !== menu) &&  menu.removeAttribute('visible');
        });
        this.showJustCalled = true;
        setTimeout(_ => this.showJustCalled = false, 100);
        document.addEventListener('click', this.documentClickHandler);
      } else {
        document.removeEventListener('click', this.documentClickHandler);
      }
    }

    disconnectedCallback() {}

    closeWhenDocumentClicked(event) {
      if (this.showJustCalled === false && !this.contains(event.target)) {
        this.removeAttribute('visible');
      }
    }

  }
  
  customElements.define('a-menu', Menu);
</script>