<!-- 
  For nav drawer
 
  https://material.io/guidelines/patterns/navigation-drawer.html#navigation-drawer-specs
-->
<template for="NavDrawer">
  <style>
    a-nav-drawer[visible] {
      visibility: visible;
    }
    a-nav-drawer:not([visible]) {
      visibility: hidden;
    }
    a-nav-drawer .page-blocker {
      position: fixed;
      background-color: #000;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: .5;
      top: 0;
      z-index: 13;
    }
    a-nav-drawer .contents {
      background-color: var(--theme-color-0);
      box-shadow: var(--theme-shadow-3dp);
      color: var(--theme-text-color-900);
      display: block;
      height: 100%; 
      left: 0;
      max-width: 320px;
      overflow: auto;
      position: fixed;
      top: 0;
      width: calc(100vw - var(--theme-height-app-bar));
      z-index: 16;
    }
    a-nav-drawer[visible] .contents {
      left: 0;
      transform: translateX(0);
      transition: var(--theme-animation-in);
    }
    a-nav-drawer:not([visible]) .contents {
      left: -241px;
      transform: translateX(0);
      transition: var(--theme-animation-out);
    }

    a-nav-drawer .contents hr, 
    a-nav-drawer .contents .divider {
      display: block;
      margin: 4px 0px;
      height: 1px;
      border: 1px solid #ccc;
      border-width: 0 0 1px 0;
    }
  </style>
</template>

<script>
( function() {
  var thisScript = document.currentScript;

  class NavDrawer extends HTMLElement {
    constructor() {
      super();
      let template = thisScript.ownerDocument.querySelector('template[for=NavDrawer]');
      let style = template.content.querySelector('style').cloneNode(true);
      style.setAttribute('id', 'a-nav-drawer-style');
      (!document.querySelector('#a-nav-drawer')) && this.insertBefore(style, this.firstChild);
      this.observeAttrChange('visible', this._show);
      this._regroupElements();
    }

    connectedCallback() {}
    disconnectedCallback() {}

    observeAttrChange(attrNames, callback) {
      var observer = new MutationObserver(mutations => {
        mutations.forEach(mutation => {
          if (mutation.type === 'attributes' && ([].concat(attrNames)).includes(mutation.attributeName)) {
            let newVal = mutation.target.getAttribute(mutation.attributeName);
            callback.apply(this, [mutation.attributeName, newVal]);
          }
        });
      });
      observer.observe(this, {attributes: true});
      return observer;
    }

    _regroupElements() {
      let pageBlockerEl, contentsEl;
      pageBlockerEl = document.createElement('div');
      pageBlockerEl.setAttribute('class', 'page-blocker');
      pageBlockerEl.addEventListener('click', () => {
        this.removeAttribute('visible');
        this._show();
      });
      this.appendChild(pageBlockerEl);

      contentsEl = document.createElement('div');
      contentsEl.setAttribute('class', 'contents');
      this.appendChild(contentsEl);

      Array.from(this.children).forEach(el => {
        if (el.tagName !== 'STYLE' && !el.isSameNode(contentsEl) && !el.isSameNode(pageBlockerEl)) {
          contentsEl.appendChild(el)
        }
      });
    }

    _show() {
      let visible = this.getAttribute('visible') !== null;
      document.body.style.overflow = visible ? 'hidden' : '';
    }

  }
  
  customElements.define('a-nav-drawer', NavDrawer);
})();
</script>