<!--
  ref. 
    * https://material.io/guidelines/components/menus.html#menus-specs
    * https://material.io/components/web/catalog/menus/

  Requirements
    * must display icon, text, on the left and shortcut on the right
    * must have hover effect
    * must to have click effect
    * when disabled
      * must not have hover effect
      * must not have click effect
-->
<template for="NavItem">
  <link rel="stylesheet" href="../components/common.css">
  <style>
  :host([disabled]) {
    color: var(--theme-color-400);
    pointer-events: none;
  }


  /* menu items */
  :host-context(a-menu) #container {
    line-height: 32px;
    padding: 8px 16px;
    font-size: 16px;
    display: block;
  }
  :host-context(a-menu) #container img {
    height: 16px;
  }
  :host-context(a-menu) #container:hover {
    background-color: var(--theme-color-200);
  }
  :host-context(a-menu) #container:active {
    background-color: var(--theme-color-50);
  }
  :host-context(a-menu) #container [md-icon] {
    vertical-align: middle;
    padding-right: 8px;
  }
  :host-context(a-menu) #container #shortcut {
    padding-left: 16px;
    float: right;
  }

  /* bottom nav bar items */
  :host-context(a-bottom-nav-bar) #container {
    display: inline-block;
    font-size: 16px;
    border: 1px solid #ccc;
    text-align: center;
  }
  :host-context(a-bottom-nav-bar) #container.active {
    color: red;
    min-width: 96px;
    max-width: 168px;
  }
  :host-context(a-bottom-nav-bar) #container:not(.active) {
    min-width: 56px;
    max-width: 96px;
  }
  :host-context(a-bottom-nav-bar) #container [md-icon] {
    display: block;
  }
  :host-context(a-bottom-nav-bar) #container img {
  }
  </style>
  <div id="container">
    <span id="icon"></span>
    <slot></slot>
    <div id="shortcut"></div>
  </div>
</template>

<script>
  var thisScript = document.currentScript;

  class NavItem extends HTMLElement {
    constructor() {
      super();
      let shadowRoot = this.attachShadow({mode: 'open'});
      const template = thisScript.ownerDocument.querySelector('template[for=NavItem]');
      shadowRoot.appendChild(template.content.cloneNode(true));
    }

    static get observedAttributes() {
      return ['active']; 
    }

    connectedCallback() {
      this.icon = this.getAttribute('icon');
      this.shortcut = this.getAttribute('shortcut');
      if (this.icon) {
        let isMDIcon = this.icon.match(/^[a-z_]+$/);
        this.iconEl = this.shadowRoot.querySelector('#icon');
        if (isMDIcon) {
          this.iconEl.setAttribute('md-icon', '');
          this.iconEl.innerHTML = this.icon;
        } else {
          this.iconEl.insertAdjacentHTML('beforeend', '<img src="'+this.icon+'" />')
        }
      }
      if (this.shortcut) {
        this.shortcutEl = this.shadowRoot.querySelector('#shortcut');
        this.shortcutEl.innerHTML = this.shortcut;
      }
    }

    disconnectedCallback() {}
    attributeChangedCallback(attr, oldVal, newVal) {
      if (attr === 'active' && newVal !== null) {
        this.shadowRoot.querySelector('#container').classList.add('active');
      } else {
        this.shadowRoot.querySelector('#container').classList.remove('active');
      }
    }

  }
  
  customElements.define('a-nav-item', NavItem);
</script>