<template for="NavItem">
  <style>
  a-nav-item {
    display: block;
    color: var(--theme-text-color-900, #333333); 
  }
  a-nav-item[disabled] {
    color: var(--theme-color-400);
    pointer-events: none;
  }

  /**
    For menu items  
    
    https://material.io/guidelines/components/menus.html#menus-specs
    https://material.io/components/web/catalog/menus/

    . must display icon, text, on the left and shortcut on the right
    . must have hover effect
    . must to have click effect
    . when disabled
      . must not have hover effect
      . must not have click effect
   */
  a-menu a-nav-item {
    line-height: 32px;
    padding: 8px 16px;
    font-size: 16px;
    display: block;
  }
  a-menu a-nav-item img {
    height: 16px;
  }
  a-menu a-nav-item:hover {
    background-color: var(--theme-color-200);
  }
  a-menu a-nav-item:active {
    background-color: var(--theme-color-50);
  }
  a-menu a-nav-item [md-icon] {
    vertical-align: middle;
    padding: 0 8px 0 0;
  }
  a-menu a-nav-item #shortcut {
    padding-left: 16px;
    float: right;
  }

  /**
     For bottom nav bar
     
     https://material.io/guidelines/components/bottom-navigation.html#bottom-navigation-specs
   */
  a-bottom-nav-bar a-nav-item {
    display: inline-block;
    font-size: 16px;
    text-align: center;
  }
  a-bottom-nav-bar a-nav-item[active] {
    padding: 6px 12px 10px 12px;
    font-size: 14px;
  }
  a-bottom-nav-bar a-nav-item:not([active]) {
    padding: 8px 12px;
    font-size: 12px;
  }
  a-bottom-nav-bar a-nav-item [md-icon] {
    display: block;
  }

  /**
    For nav drawer
   
    https://material.io/guidelines/patterns/navigation-drawer.html#navigation-drawer-specs
   */
  a-nav-drawer a-nav-item {
    line-height: 24px;
    font-size: 14px;
    padding: 8px 16px;
  }
  a-nav-drawer a-nav-item:hover {
    background-color: var(--theme-color-200);
  }
  a-nav-drawer a-nav-item:active {
    background-color: var(--theme-color-50);
  }
  a-nav-drawer a-nav-item .subheader {
    color: var(--theme-text-color-500);
  }
  a-nav-drawer a-nav-item [md-icon] {
    padding-right: 32px;
    color: var(--theme-text-color-500);
    vertical-align: middle;
  }
  </style>
</template>

<script>
  var thisScript = document.currentScript;

  class NavItem extends HTMLElement {
    constructor() {
      super();
      let template = thisScript.ownerDocument.querySelector('template[for=NavItem]');
      let style = template.content.querySelector('style').cloneNode(true);
      style.setAttribute('id', 'a-nav-item');
      (!document.querySelector('style#a-nav-item')) && this.insertBefore(style, this.firstChild);
      this.addEventListener('click', this.setActiveItem.bind(this));
    }

    connectedCallback() {
      this.icon = this.getAttribute('icon');
      this.shortcut = this.getAttribute('shortcut');
      if (this.icon) {
        let isMDIcon = this.icon.match(/^[a-z_]+$/);
        this.iconEl = document.createElement('div');
        this.iconEl.setAttribute('id', 'icon');
        if (isMDIcon) {
          this.iconEl.setAttribute('md-icon', '');
          this.iconEl.innerHTML = this.icon;
        } else {
          this.iconEl.insertAdjacentHTML('beforeend', '<img src="'+this.icon+'" />')
        }
        this.insertBefore(this.iconEl, this.firstChild)
      }
      if (this.shortcut) {
        this.shortcutEl = document.createElement('div');
        this.shortcutEl.setAttribute('id', 'shortcut');
        this.shortcutEl.innerHTML = this.shortcut;
        this.appendChild(this.shortcutEl);
      }
    }

    setActiveItem(event) {
      Array.from(this.parentElement.querySelectorAll('a-nav-item')).forEach(el => el.removeAttribute('active'));
      this.setAttribute('active', '');
    }
  }
  
  customElements.define('a-nav-item', NavItem);
</script>