<!--
  https://material.io/guidelines/components/text-fields.html#text-fields-principles

  TODO: list attribute and <datalist> support

  root level status
    disabled / empty / invalid / active / dirty

  attributes
    * disabled
    * icon="favorite"
    * label="this is label"
    * length-error="invalid text length"
    * maxlength -> word-counter
    * minlength -> word-counter
    * optional="(optional)"
    * pattern-error="invalid text pattern"
    * pattern=""
    * placeholder="this is hint text"
    * prefix="$"
    * readonly
    * required="this field is required"
    * suffix="dollars"

 Example

 <a-text-field disabled
   icon="favorite"
   helper-text="this is helper text"
   label="this is label"
   maxlength -> word-counter
   minlength -> word-counter
   minlength-error="invalid text min. length"
   maxlength-error="invalid text max. length"
   optional="(optional)"
   pattern-error="invalid text pattern"
   pattern=""
   placeholder="this is hint text"
   prefix="$"
   readonly
   required="this field is required"
   suffix="dollars"></a-text-field>
-->
<template for="TextField">
  <style id="a-text-field-style">
    a-text-field {
      display: inline-block;
      min-width: 258px;
      height: 84px;
    }
    a-text-field.full-width {
      width: 100%;
    }

    a-text-field label {
      top: 38px;
      font-size: inherit;
      position: absolute;
      transition: all 450ms var(--theme-animation-ease, cubic-bezier(0.23, 1, 0.32, 1) 0ms);
      z-index: 1; 
      transform: scale(1) translate(0px, 0px);
      transform-origin: left top 0px;
      pointer-events: none;
      user-select: none;
      color: var(--theme-text-color-700, #616161);
    }

    a-text-field .container {
      font-size: 16px;
      line-height: 24px;
      height: 84px;
      display: inline-block;
      position: relative;
      background-color: transparent;
      transition: height 200ms var(--theme-animation-ease, cubic-bezier(0.23, 1, 0.32, 1) 0ms);
      width: 100%;
    }

    a-text-field .input-wrapper {
      width: 100%;
      padding: 0px;
      position: absolute;
      bottom: 24px;
      display: flex;
    }

    a-text-field .prefix {
      color: var(--theme-text-color-500, #9e9e9e);
      padding-right: 8px;
    }

    a-text-field .suffix {
      padding-left: 8px;
      color: var(--theme-text-color-500, #9e9e9e);
    }

    a-text-field input {
      flex: 1;
      padding: 0px;
      width: 100%;
      border: none;
      outline: none; 
      background-color: transparent; 
      color: var(--theme-text-color-900, #9e9e9e);
      cursor: inherit;
      font-style: inherit;
      font-variant: inherit;
      font-weight: inherit;
      font-stretch: inherit;
      font-size: inherit;
      line-height: inherit;
      font-family: inherit;
      opacity: 1;
      -webkit-tap-highlight-color: transparent;
      box-sizing: border-box;
    }

    a-text-field hr {
      border: 2px solid var(--theme-color-800, #424242);
      border-width: 0 0 2px 0;
      bottom: 20px;
      margin: 0px;
      position: absolute;
      width: 100%;
      transform: scaleX(1);
      transition: all 450ms var(--theme-animation-ease, cubic-bezier(0.23, 1, 0.32, 1) 0ms);
    }
    a-text-field .helper-text {
      position: absolute;
      bottom: 0;
      font-size: 12px;
      line-height: 12px;
      color: var(--theme-text-color-600, #757575);
      transition: all 450ms var(--theme-animation-ease, cubic-bezier(0.23, 1, 0.32, 1) 0ms) 0ms;
    }
    a-text-field .error-messages {
      position: absolute;
      bottom: 0px;
      width: 100%;
      font-size: 12px;
      line-height: 12px;
      background-color: var(--theme-color-0, #ffffff);
      transition: all 450ms var(--theme-animation-ease, cubic-bezier(0.23, 1, 0.32, 1) 0ms) 0ms;
    }

    /* disabled / empty / invalid / active */
    a-text-field[empty]:not([active]) .input-wrapper {
      visibility: hidden;
    }

    a-text-field:not([empty]) label,
    a-text-field[empty][active] label {
      top: 12px;
      font-size: 12px;
    }

    a-text-field[disabled] {
      pointer-events: none;
    }
    a-text-field[disabled] label,
    a-text-field[disabled] .prefix,
    a-text-field[disabled] .suffix,
    a-text-field[disabled] input,
    a-text-field[disabled] hr,
    a-text-field[disabled] .helper-text,
    a-text-field[disabled] .error-messages,
    a-text-field[disabled] [md-icon]:not(:empty) {
      color: var(--theme-text-color-500, #9e9e9e);
    }
    a-text-field[disabled] hr {
      border-color: var(--theme-color-500, #9e9e9e);
    }

    a-text-field[invalid] label,
    a-text-field[invalid] hr,
    a-text-field[invalid] .helper-text,
    a-text-field[invalid] .error-messages,
    a-text-field[invalid] [md-icon]:not(:empty) {
      color: var(--theme-color-error, #ff0000);
    }
    a-text-field[invalid] hr {
      border-color: var(--theme-color-eroor, #ff0000);
    }
    a-text-field:not([invalid]) .error-messages {
      visibility: hidden;
    }

    a-text-field:not([empty], [active]) .suffix,
    a-text-field:not([empty], [active]) .prefix,
    a-text-field[disabled] input {
      display: inherit;
    }
    a-text-field [md-icon]:empty,
    a-text-field label:empty,
    a-text-field .prefix:empty,
    a-text-field .suffix:empty,
    a-text-field .helper-text:empty,
    a-text-field .error-messages:empty {
      display: none;
    }

    a-text-field [md-icon]:not(:empty) {
      color: var(--theme-text-color-700, #616161);
      position: relative;
      bottom: 22px;
    }

    a-text-field [md-icon]:not(:empty) ~ .container {
      width: calc(100% - 40px);
    }


  </style>
</template>

<script>
( function() {
  var thisScript = document.currentScript;

  class TextField extends HTMLElement {
    constructor() {
      super();
      this._init();
    }

    _init() {
      let template = thisScript.ownerDocument.querySelector('template[for=TextField]');
      let style = template.content.querySelector('style').cloneNode(true);
      !document.querySelector(`#ce-core-style, #${style.id}`) && document.head.appendChild(style);

      this.id = 'a-text-field-'+Math.round(Math.random()*Math.pow(10,9));
      this._buildHTML();
    }

    get disabled() {
      return this.getAttribute('disabled') !== '';
    }

    set disabled(disabled) {
      disabled ? this.setAttribute('disabled', '') : this.removeAttribute('disabled');
    }

    get errorMessages() {
      let errorMessages = this.__cachedErrorMessages || {
        rangeUnderflow: this.getAttribute('min-error') || 'invalid min. value',
        rangeOverflow: this.getAttribute('max-error') || 'invalid max. value',
        stepMismatch: this.getAttribute('step-error') || 'invalid value(step)',
        tooShort:  this.getAttribute('minlength-error') || 'invalid min. length',
        tooLong: this.getAttribute('maxlength-error') || 'invalid max. length',
        patternMismatch: this.getAttribute('pattern-error') || 'invalid input text',
        valueMissing: this.getAttribute('required-error') || 'this field is requierd',
        typeMismatch: this.getAttribute('type-error') ||
          'invalid input for type, '+this.getAttribute('type'),
        customError: this.getAttribute('custom-error') || 'invaid input(custom error)',
        invalidError: this.getAttribute('invalid-error') || 'invaid input'
      }
      this.__cachedErrorMessages = errorMessages;
      return errorMessages;
    }

    connectedCallback() {
      this.inputEl = this.querySelector('#'+this.id);
      this._addEventListeners();
    }

    _buildHTML() {
      let icon = this.getAttribute('icon') || '';
      let type = this.getAttribute('type') || 'text';
      let hintText = this.getAttribute('placeholder') || '';
      let helpetText = this.getAttribute('helper-text') || '';
      let label = this.getAttribute('label') || '';
      let prefix = this.getAttribute('prefix') || '';
      let suffix = this.getAttribute('suffix') || '';
      let optionalText = this.getAttribute('optional') || '';
      let helperText = this.getAttribute('helper-text') || '';
      let requiredText = this.getAttribute('required') !== null ? ' *' : '';

      let attrs = [];
      for (let i=0; i<this.attributes.length; i++) {
        let attr = this.attributes[i];
        (!attr.name.match(/-/)) && attrs.push(`${attr.name}="${attr.value}"`);
      }
      let attributes = attrs.join(' ');

      let html = `
        <i class="icon" md-icon>${icon}</i>
        <div class="container">
          <label for="${this.id}" style="">${label}${optionalText}${requiredText}</label>
          <div class="input-wrapper">
            <div class="prefix">${prefix}</div>
            <input class="input" type="${type}" id="${this.id}" ${attributes} />
            <div class="suffix">${suffix}</div>
          </div>
          <hr />
          <div class="helper-text">${helperText}</div>
          <div class="error-messages"></div>
        </div>
      `;
      this.insertAdjacentHTML('beforeend', html);
    }

    _getErrors() {
      let errors = {};
      for (var key in this.inputEl.validity) {
        if (key !== 'valid' && this.inputEl.validity[key]) {
          errors[key] = this.errorMessages[key];
        }
      }
      if (this.getAttribute('maxlength')) {
        let tooLong = this.inputEl.value.length > parseInt(this.getAttribute('maxLength'));
        tooLong && (errors.tooLong = this.errorMessages.tooLong);
      }
      return errors;
    }

    _addEventListeners() {
      let setStatus = () => {
        let empty  = !this.inputEl.value;
        let error = Object.values(this._getErrors())[0];
        let errMsgEl = this.querySelector('.error-messages');
        let dirty = this.getAttribute('dirty') !== null;

        empty ? this.setAttribute('empty', '')   : this.removeAttribute('empty');
        if (dirty && error) {
          this.setAttribute('invalid', ''); 
          errMsgEl.innerHTML = error;
        } else {
          this.removeAttribute('invalid')
        }
      }

      setStatus();

      this.addEventListener('click', event => {
        this.setAttribute('active', '');
        this.inputEl.focus();
      });

      this.inputEl.addEventListener('blur', event => {
        this.removeAttribute('active');
      });

      this.inputEl.addEventListener('change', event => {
        this.setAttribute('dirty', '');
        setStatus();
      });
    }
  }
  
  customElements.define('a-text-field', TextField);
})();
</script>
