<!--
  https://material.io/guidelines/components/tooltips.html#tooltips-tooltips-mobile
-->
<template for="Tooltip">
  <link rel="stylesheet" href="../components/common.css">
  <style>
    a-tooltip {
      position: absolute;
      visibility: hidden;
      background: var(--theme-color-600, #757575);
      color: #fff;
      line-height: 32px;
      font-size: 14px;
      padding: 0 16px;
      border-radius: 2px;
      white-space: nowrap;
    }
    a-tooltip.visible {
      visibility: visible;
      transition: all .2s ease .5s;
      z-index: 24;
    }
  </style>
</template>

<script>
( function() {
  var thisScript = document.currentScript;

  class Tooltip extends HTMLElement {
    constructor() {
      super();
      let template = thisScript.ownerDocument.querySelector('template[for=Tooltip]');
      let style = template.content.querySelector('style').cloneNode(true);
      style.setAttribute('id', 'tooltip-style');
      (!document.querySelector('#tooltip-style')) && this.insertBefore(style, this.firstChild);
      this.originalPos = {parent: this.parentElement, nextSibling: this.nextElementSibling};
      this._addEventListeners();
    }

    connectedCallback() {}
    disconnectedCallback() {}

    _addEventListeners() {
      this.parentElement.addEventListener('mouseenter', _ => {
        this._showTooltip();
      });
      this.parentElement.addEventListener('mouseleave', _ => {
        this.classList.remove('visible');
        this.originalPos.parent.insertBefore(this, this.originalPos.nextSibling);
      });
    }

    _showTooltip() {
      let parentBCR = this.parentElement.getBoundingClientRect(); // relative to viewport
      let body = document.body;
      let docEl = document.documentElement;

      let scrollTop = window.pageYOffset || docEl.scrollTop || body.scrollTop;
      let scrollLeft = window.pageXOffset || docEl.scrollLeft || body.scrollLeft;

      let clientTop = docEl.clientTop || body.clientTop || 0;
      let clientLeft = docEl.clientLeft || body.clientLeft || 0;

      let docPosTop = Math.round(parentBCR.top +  scrollTop - clientTop);
      let docPosLeft = Math.round(parentBCR.left + scrollLeft - clientLeft);

      let top = docPosTop + parentBCR.height + 24;

      this.style.top = top + 'px';
      this.style.left = '';
      this.style.right = '';

      document.body.appendChild(this);
      setTimeout(_ => {
        let thisBCR = this.getBoundingClientRect(); // it needs time to calc this properly
        let left = docPosLeft + (parentBCR.width / 2) - (thisBCR.width / 2);

        if (left < 8) {
          this.style.left = '8px';
        } else if (left + thisBCR.width > document.body.clientWidth) {
          this.style.right = '8px';
        } else {
          this.style.left = left + 'px';
        }

        this.classList.add('visible')
      }, 100);
    }
  }

  customElements.define('a-tooltip', Tooltip);
})();
</script>
