    <style>mce-leaflet {display: block; width: 400px; min-height: 200px;}</style>

    <!-- mppVmz -->
    <h3>Static Popup On Map</h3>
    <mce-leaflet center="[51.505, -0.09]" zoom-control="false" on-load="openPopup(event)">
    </mce-leaflet>
    &lt;mce-leaflet center="[51.505, -0.09]" zoom-control="false" on-load="openPopup(event)">&lt;/mce-leaflet>
    <script>
      function openPopup(event) {
        L.popup().setLatLng([51.505, -0.09])
          .setContent('<p>Hello world!<br />This is a nice popup.</p>')
          .openOn(event.target)
      }
    </script>

    <h3>Static Popup On Marker</h3>
    <mce-leaflet center="[51.505, -0.09]">
      <mce-marker latlng="[51.505, -0.09]" on-add="openMarkerPopup1(event)"></mce-marker>
      <mce-marker latlng="[51.505, -0.08]" on-add="openMarkerPopup2(event)"></mce-marker>
    </mce-leaflet>
    <pre>
    &lt;mce-marker latlng="[51.505, -0.09]" on-add="openMarkerPopup1(event)">&lt;/mce-marker>
    &lt;mce-marker latlng="[51.505, -0.08]" on-add="openMarkerPopup2(event)">&lt;/mce-marker>
    </pre>
    <script>
      function openMarkerPopup1(event) {
        event.target.bindPopup("<b>Hello world!</b><br />I am a popup.").openPopup();
      }
      function openMarkerPopup2(event) {
        event.target.bindPopup("<b>Hello world!</b><br />I am a popup.");
      }
    </script>


    <h3>Dynamic Popup On Map</h3>
    click on map to see a  popup
    <mce-leaflet center="[51.505, -0.09]" on-click="openPopupLatLng(event)"></mce-leaflet>
    <script>
      function openPopupLatLng(e) {
        L.popup().setLatLng(e.latlng)
          .setContent("You clicked the map at " + e.latlng)
          .openOn(e.target);
      }
    </script>

    <h3>Custom HTML Popup On Map</h3>
    click on map to see a html element popup
    <mce-leaflet center="[51.505, -0.09]" on-click="openPopupElement(event)"></mce-leaflet>
    <div id="container" style="display:none">
      <div id="popup">This is html element</div>
    </div>
    <pre>
    &lt;mce-leaflet center="[51.505, -0.09]" on-click="openPopupElement(event)">&lt;/mce-leaflet>
    &lt;div id="container" style="display:none">
      &lt;div id="popup">This is html element&lt;/div>
    &lt;/div>
    </pre>
    <style>#popup {padding: 10px; border: 1px dashed #ccc; background-color: red; color: #fff;}</style>
    <script>
      function openPopupElement(e) {
        document.querySelector('#container #popup').innerHTML = ''+e.latlng;
        L.popup().setLatLng(e.latlng)
          .setContent(document.querySelector('#container #popup').cloneNode(true))
          .openOn(e.target);
      }
    </script>
