mce-text-field {
  display: inline-block;
  min-width: 258px;
  height: 84px;

  &.mce-full-width {
    width: 100%;
  }

}

mce-text-field > .mce-container {
  box-sizing: border-box;
  padding: 0 12px;
  font-size: 16px;
  line-height: 24px;
  height: 84px;
  display: inline-block;
  position: relative;
  background-color: transparent;
  transition: height 200ms var(--theme-animation-ease, cubic-bezier(0.23, 1, 0.32, 1) 0ms);
  width: 100%;

  > label {
    top: 38px;
    font-size: inherit;
    position: absolute;
    transition: all 450ms var(--theme-animation-ease, cubic-bezier(0.23, 1, 0.32, 1) 0ms);
    z-index: 1; 
    transform: scale(1) translate(0px, 0px);
    transform-origin: left top 0px;
    pointer-events: none;
    user-select: none;
    color: var(--theme-text-color-700, #616161);
  }

  > .mce-input-wrapper {
    width: 100%;
    padding: 0px;
    position: absolute;
    bottom: 24px;
    display: flex;

    > .mce-prefix {
      color: var(--theme-text-color-500, #9e9e9e);
      padding-right: 8px;
    }

    > .mce-suffix {
      padding-left: 8px;
      color: var(--theme-text-color-500, #9e9e9e);
    }

    > input,
    > textarea {
      flex: 1;
      padding: 0px;
      width: 100%;
      border: none;
      outline: none; 
      background-color: transparent; 
      color: var(--theme-text-color-900, #9e9e9e);
      cursor: inherit;
      font-style: inherit;
      font-variant: inherit;
      font-weight: inherit;
      font-stretch: inherit;
      font-size: inherit;
      line-height: inherit;
      font-family: inherit;
      opacity: 1;
      -webkit-tap-highlight-color: transparent;
      box-sizing: border-box;
    }
    > textarea {
      height: 24px;
      resize: none;
      overflow: hidden;
    }
  }

  > hr {
    border: 2px solid var(--theme-color-800, #424242);
    border-width: 0 0 2px 0;
    bottom: 20px;
    margin: 0px;
    position: absolute;
    left: 12px;
    right: 12px;
    transform: scaleX(1);
    transition: all 450ms var(--theme-animation-ease, cubic-bezier(0.23, 1, 0.32, 1) 0ms);
  }

  > .mce-helper-text {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    line-height: 12px;
    color: var(--theme-text-color-600, #757575);
    transition: all 450ms var(--theme-animation-ease, cubic-bezier(0.23, 1, 0.32, 1) 0ms) 0ms;
  }

  > .mce-error-messages {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 12px;
    line-height: 12px;
    background-color: var(--theme-color-0, #ffffff);
    transition: all 450ms var(--theme-animation-ease, cubic-bezier(0.23, 1, 0.32, 1) 0ms) 0ms;
  }

}

/* disabled / empty / invalid / active */
mce-text-field.mce-empty:not(.mce-active) > .mce-container > .mce-input-wrapper {
  visibility: hidden;
}

mce-text-field:not(.mce-empty) > .mce-container > label,
mce-text-field.mce-empty.mce-active > .mce-container > label {
  top: 12px;
  font-size: 12px;
}

mce-text-field[disabled] {
  pointer-events: none;

  > .mce-container > label,
  > .mce-container > .mce-input-wrapper > .mce-prefix,
  > .mce-container > .mce-input-wrapper > .mce-suffix,
  > .mce-container > .mce-input-wrapper > input,
  > .mce-container > hr,
  > .mce-container > .mce-helper-text,
  > .mce-container > .mce-error-messages,

  >  mce-icon:not(:empty) {
    color: var(--theme-text-color-500, #9e9e9e);
  }

  > .mce-container > hr {
    border-color: var(--theme-color-500, #9e9e9e);
  }
  > .mce-container > .mce-input-wrapper > input {
    display: inherit;
  }
}

mce-text-field.mce-invalid {
  > .mce-container > label,
  > .mce-container > hr,
  > .mce-container > .mce-helper-text,
  > .mce-container > .mce-error-messages,
  > mce-icon:not(:empty) {
    color: var(--theme-color-error, #ff0000);
  }
  > .mce-container > hr {
    border-color: var(--theme-color-eroor, #ff0000);
  }
}
mce-text-field:not(.mce-invalid) {
  > .mce-container > .mce-error-messages {
    visibility: hidden;
  }
} 

mce-text-field:not(.mce-empty, .mce-active) {
  > .mce-container > .mce-input-wrapper > .mce-suffix,
  > .mce-container > .mce-input-wrapper > .mce-prefix {
    display: inherit;
  }
}

mce-text-field > mce-icon:empty,
mce-text-field > .mce-container > label:empty,
mce-text-field > .mce-container > .mce-input-wrapper >  .mce-prefix:empty,
mce-text-field > .mce-container > .mce-input-wrapper >  .mce-suffix:empty,
mce-text-field > .mce-container > .mce-helper-text:empty,
mce-text-field > .mce-container > .mce-error-messages:empty {
  display: none;
}

mce-text-field > mce-icon:not(:empty) {
  color: var(--theme-text-color-700, #616161);
  position: relative;
  vertical-align: top;
  top: 40px;

  ~ .mce-container {
    width: calc(100% - 40px);
  }
  
}
