/****************************************************************************
 * Grey Theme Variables 
 ***************************************************************************/
:root {
  /* fonts */
  --theme-main-font: Roboto, sans-serif;
  --theme-icon-font: 'Material Icons';

  /* colors  https://material.io/guidelines/style/color.html#color-color-palette */
  --theme-color-500: #00BCD4;
  --theme-color-50: #E0F7FA;
  --theme-color-100: #B2EBF2;
  --theme-color-200: #80DEEA;
  --theme-color-300: #4DD0E1;
  --theme-color-400: #26C6DA;
  --theme-color-500: #00BCD4;
  --theme-color-600: #00ACC1;
  --theme-color-700: #0097A7;
  --theme-color-800: #00838F;
  --theme-color-900: #006064;
  --theme-color-a100: #84FFFF;
  --theme-color-a200: #18FFFF;
  --theme-color-a400: #00E5FF;
  --theme-color-a700: #00B8D4;

  --theme-color-accent: var(--theme-color-a100, #ff0000);
  --theme-color-error:  #ff0000;

  --theme-text-color-0: #FFFFFF;
  --theme-text-color-50: #FAFAFA;
  --theme-text-color-100: #F5F5F5;
  --theme-text-color-200: #EEEEEE;
  --theme-text-color-300: #E0E0E0;
  --theme-text-color-400: #BDBDBD;
  --theme-text-color-500: #9E9E9E;
  --theme-text-color-600: #757575;
  --theme-text-color-700: #616161;
  --theme-text-color-800: #424242;
  --theme-text-color-900: #212121;

  /* size */
  --theme-title-font-size: 20px;
  --theme-title-font-weight: 500;
  --theme-height-app-bar: 56px;
  --theme-height-bottom-nav-bar: 56px;
  --theme-border-radius: 2px;

  /* animation */
  --theme-animation-in: all .3s ease-in;
  --theme-animation-out: all .2s ease-out;
  --theme-animation: all 0.3s cubic-bezier(.25, .8, .25, 1);
  --theme-animation-ease: cubic-bezier(0.23, 1, 0.32, 1) 0ms;

  /* shadows */
  --theme-shadow-focused: 0 0 8px rgba(0, 0, 0, .18), 0 8px 16px rgba(0, 0, 0, .36) ;
  --theme-shadow-1dp: 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
  --theme-shadow-2dp: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
  --theme-shadow-3dp: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12), 0 3px 3px -2px rgba(0, 0, 0, .4);
  --theme-shadow-4dp: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .4);
  --theme-shadow-6dp: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .4);
  --theme-shadow-8dp: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .4);
  --theme-shadow-16dp: 0 16px 24px 2px rgba(0, 0, 0, .14), 0  6px 30px 5px rgba(0, 0, 0, .12), 0  8px 10px -5px rgba(0, 0, 0, .4);
  --theme-shadow-24dp: 0  9px 46px  8px rgba(0, 0, 0, .14), 0 24px 38px  3px rgba(0, 0, 0, .12), 0 11px 15px -7px rgba(0, 0, 0, .4);}
}

