/****************************************************************************
 * variables 
 ***************************************************************************/
:root {
  --theme-font: Roboto, sans-serif;

  /* colors  https://material.io/guidelines/style/color.html#color-color-palette */
  --theme-primary: #212121;   /* deprecated */
  --theme-text-primary: #fff; /* deprecated */
  --theme-color-50:  #FAFAFA;
  --theme-color-100: #F5F5F5;
  --theme-color-200: #EEEEEE;
  --theme-color-300: #E0E0E0;
  --theme-color-400: #BDBDBD;
  --theme-color-500: #9E9E9E; /* primary color */
  --theme-color-600: #757575;
  --theme-color-700: #616161;
  --theme-color-800: #424242;
  --theme-color-900: #212121;

  --theme-text-color-0: #FFFFFF;
  --theme-text-color-100: #F5F5F5;
  --theme-text-color-200: #EEEEEE;
  --theme-text-color-300: #E0E0E0;
  --theme-text-color-400: #BDBDBD;
  --theme-text-color-500: rgba(0,0,0,.54); /* #999999 */
  --theme-text-color-600: #757575;
  --theme-text-color-700: #616161;
  --theme-text-color-800: #424242;
  --theme-text-color-900: rgba(0,0,0,.87); /* #333333 */

  /* size */
  --theme-height-app-bar: 56px;
  --theme-height-bottom-nav-bar: 56px;

  /* animation */
  --theme-animation-in: all .3s ease-in;
  --theme-animation-out: all .2s ease-out;
  --theme-animation-dropdown: all .45s cubic-bezier(0.23, 1, 0.32, 1);

  /* shadows */
  --theme-shadow-1dp: rgba(0, 0, 0, 0.12) 0px 1px  6px, rgba(0, 0, 0, 0.12) 0px 1px  4px;
  --theme-shadow-2dp: rgba(0, 0, 0, 0.12) 0px 2px  6px, rgba(0, 0, 0, 0.12) 0px 2px  4px;
  --theme-shadow-3dp: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  --theme-shadow-4dp: rgba(0, 0 ,0, 0.20) 0px 2px  4px, rgba(0, 0, 0, .14)  0px 4px  5px;
}

:root {
  margin: 0;
}
/****************************************************************************
 * fonts
 ***************************************************************************/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(fonts/Roboto/Roboto-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(fonts/Roboto/Roboto-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(fonts/Roboto/Roboto-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/material-icons.ttf) format('truetype');
} 

/****************************************************************************
 * elements
 ***************************************************************************/
body {
  font-family: var(--theme-font);
  margin: 0;
}
*, *:before, *:after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
an-app-bar + * {
  margin: 56px 0;
  padding: 16px;
}
p {
  padding: 16px;
}
li {
  list-style: inside;
}

/****************************************************************************
 * classes
 ***************************************************************************/
.float-left { float: left; }
.float-right { float: right; }
.display-none { display: none; }
.display-none:target { display: block; }
.clear-both:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

[md-icon], 
.md-icon,
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

@keyframes ripple {
  0%   { transform: scale(0); }
  20%  { transform: scale(1); }
  100% { opacity: 0; transform: scale(1); }
}

[md-icon]:after {
  content: '';
  display: block;
  position: absolute;
  width: 56px;
  height: 56px;
  margin-left: -18px;
  margin-top: -38px;
  background: #3f51b5;
  border-radius: 100%;
  opacity: .6;
  transform: scale(0);
}

[md-icon]:active:after {
  animation: ripple .4s ease-out;
}