/****************************************************************************
 * variables 
 ***************************************************************************/
:root {
  --theme-font: Roboto, sans-serif;

  /* colors */
  --theme-primary: #212121;
  --theme-text-primary: #fff;

  /* animation */
  --theme-animation-in: all .3s ease-in;
  --theme-animation-out: all .2s ease-out;
  --theme-animation-dropdown: all .45s cubic-bezier(0.23, 1, 0.32, 1);

  /* shadows */
  --theme-shadow-1dp: rgba(0, 0, 0, 0.12) 0px 1px  6px, rgba(0, 0, 0, 0.12) 0px 1px  4px;
  --theme-shadow-3dp: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  --theme-shadow-4dp: rgba(0, 0 ,0, 0.20)  0px 2px 4px, rgba(0, 0, 0, .14)  0px 4px  5px;
}

/****************************************************************************
 * fonts
 ***************************************************************************/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(fonts/Roboto/Roboto-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(fonts/Roboto/Roboto-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(fonts/Roboto/Roboto-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/material-icons.ttf) format('truetype');
} 

/****************************************************************************
 * elements
 ***************************************************************************/
*, *:before, *:after {
  box-sizing: border-box;
}
an-app-bar + * {
  margin-top: 56px;
}
p {
  padding: 16px;
}

/****************************************************************************
 * classes
 ***************************************************************************/
:root {
  font-family: var(--theme-font);
  font-size: 20px;
}

.float-left { float: left; }
.float-right { float: right; }
.display-none { display: none; }
.display-none:target { display: block; }
.clear-both:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

[md-icon], 
.md-icon,
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}