a-chip {
  height: 32px;
  display: inline-block;
  border-radius:16px; 
  background-color: var(--theme-color-300, #E0E0E0);
  font-size: 0;
  vertical-align: middle;
}

a-chip:hover {
  background-color: var(--theme-color-500, #9E9E9E);
}

a-chip > .avatar {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--theme-color-600, #757575);
  color: var(--theme-text-color-0, #FFFFFF);
  font-size: 14px;
  float: left;
  /*overflow: hidden;*/
  background-size: cover;
  margin-left: -1px; /* to hide annoying white border in dark background */
}

a-chip > .text {
  color: var(--theme-text-color-800, #424242);
  display: inline-block;
  height: 32px;
  padding: 0 12px;
  font-size: 12px;
  vertical-align: middle;
  line-height: 32px;
  float: left;
}
a-chip:hover > .text {
  color: var(--theme-text-color-0, #FFFFFF);
}
a-chip > .avatar ~ .text {
  padding-left: 8px;
}

a-chip > .delete {
  display: inline-block;
  background-color: var(--theme-color-500, #9E9E9E);
  color: var(--theme-text-color-0, #FFFFFF);
  border-radius: 50%;
  height: 24px;
  width: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 12px;
  margin: 4px 4px 4px -8px;
  cursor: pointer;
}
a-chip:hover > .delete {
  background-color: var(--theme-color-0, #FFFFFF);
  color: var(--theme-text-color-600, #757575);
}

