/*
  https://material.io/guidelines/components/bottom-navigation.html#bottom-navigation-specs
*/
mce-bottom-nav-bar {
  position: absolute;
  background-color: var(--theme-color-50, #FAFAFA);
  border-radius: 2px;
  border: 1px solid #ccc;
  box-shadow: var(--theme-shadow-1dp, 0   1px  3px rgba(0,0,0,0.12), 0  1px  2px rgba(0,0,0,0.24));
  color: var(--theme-color-900, #212121);
  display: flex;
  font-size: 0px;
  height: var(--theme-height-bottom-nav-bar, 56px);
  justify-content: space-between;
  margin: 0 auto;
  z-index: 8;
  bottom: 0;
  left:0;
  right:0;

  &.mce-dark-bg {
    background-color: var(--theme-color-600, #757575);
    color: var(--theme-text-color-50, #FAFAFA);
  }
  &.mce-dark-bg mce-nav-item,
  &.mce-dark-bg mce-icon,
  &.mce-dark-bg .mce-text {
    color: var(--theme-text-color-50, #FAFAFA);
  }

  > * {
    flex: 1;
  }

  mce-nav-item {
    display: inline-block;
    font-size: 16px;
    text-align: center;
  }
  mce-nav-item.mce-active {
    padding: 6px 12px 10px 12px;
    font-size: 14px;
  }
  mce-nav-item:not(.mce-active) {
    padding: 8px 12px;
    font-size: 12px;
  }
  mce-nav-item mce-icon {
    display: block;
  }

}

/**
 * desktop size
 */
.mce-desktop {
  > mce-bottom-nav-bar {
    left: 280px;
    right: 0;
    width: auto; 
  }
  > mce-bottom-nav-bar {
    width: 280px;
    left: 0;
    z-index: 16;
    margin: 0 0;
  }
}
