
<!doctype html>
<!-- 
  This page is useful for development and testing.
  As of. Nov 2017. This page works well with Chrome browser.
-->
<html>
  <head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.7.4/beautify-html.js"></script>
    <script src="https://unpkg.com/code-prettify@0.1.0/src/run_prettify.js"></script>
    <link rel="import" href="../theme.tmpl.html" />

    <link rel="stylesheet" class="theme" href="../../themes/grey.css">
    <style>
      body { font-family: 'Roboto'; margin: 0; color: var(--theme-text-color-900, #212121); background-color: var(--theme-color-50, #FAFAFA); }
      *, *:before, *:after { box-sizing: border-box; }
      .container { padding: 12px; }
      .dark-bg { background-color: var(--theme-color-600, #757575); color: var(--theme-text-color-0, #ffffff); padding: 12px; }
      .clear-both:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
      .float-right { float: right; }

      .demo { position: relative; }
      .view-source ~ label { padding: 12px 0; display: inline-block; }
      .view-source ~ .code { max-height: 0; overflow: hidden; border: none; margin: 0; transition: all .4s ease-out;}
      .view-source[checked] ~ .code { max-height: 999px;  transition: all 1s ease-out; overflow: auto;}
      a-card .demo > a-card {max-width: 480px; margin: 0 auto;}
    </style>
    <script>
      function setDemo(src, dest) {
        var html = document.querySelector(src).content.cloneNode(true).querySelector('*').outerHTML;
        document.querySelector(dest+' .demo').innerHTML = html;
        document.querySelector(dest+' .code').innerHTML = html_beautify(html, {indent_size: 2}).replace(/</g,'\&lt;');
      }
    </script>

    <script type="module" src="../expansion-panel/main.js"></script>
    <link rel="stylesheet" class="expansion-panel" href="../expansion-panel/style.css">

    <script type="module" src="../button/main.js"></script>
    <link rel="stylesheet" class="button" href="../button/style.css">

    <script type="module" src="../card/main.js"></script>
    <link rel="stylesheet" class="card" href="../card/style.css">

    <script type="module" src="../switch/main.js"></script>
    <link rel="stylesheet" class="switch" href="../switch/style.css">

    <script type="module" src="../list/main.js"></script>
    <link rel="stylesheet" class="list" href="../list/style.css">

    <script type="module" src="../menu/main.js"></script>
    <link rel="stylesheet" class="menu" href="../menu/style.css">

    <link rel="stylesheet" class="icon" href="../icon/style.css">
    <link rel="stylesheet" class="nav-item" href="../nav-item/style.css">
  </head>
  <body>

    <template class="simple">
      <div>
        <an-expansion-panel>
          <div class="title">
            <h1>Trip name</h1>
            <div>Carribean Cruise</div>
          </div>
          <div class="text">
            Text: 14sp
            Left and right padding: 16dp
            Top padding: 16dp or 24dp (when a primary title is present)
            Bottom padding: 16dp (if there are additional actions or supporting text) or 24dp (if there are no actions or supporting text)
          </div>
        </an-expansion-panel>
        <an-expansion-panel>
          <div class="title">
            <h1>Trip name</h1>
            <div>Carribean Cruise</div>
          </div>
          <div class="text">
            Text: 14sp
            Left and right padding: 16dp
            Top padding: 16dp or 24dp (when a primary title is present)
            Bottom padding: 16dp (if there are additional actions or supporting text) or 24dp (if there are no actions or supporting text)
          </div>
        </an-expansion-panel>
        <an-expansion-panel class="expanded">
          <div class="title">
            <h1>Trip name</h1>
            <div>Carribean Cruise</div>
          </div>
          <div class="text">
            Text: 14sp
            Left and right padding: 16dp
            Top padding: 16dp or 24dp (when a primary title is present)
            Bottom padding: 16dp (if there are additional actions or supporting text) or 24dp (if there are no actions or supporting text)
          </div>
          <div class="actions">
            <a href="javascript:void(0)" class="button">CANCEL</a>
            <a href="javascript:void(0)" class="button">SAVE</a>
          </div>
        </an-expansion-panel>
      </div>
    </template>

    <div class="container">
      <h1>Expansion Panel</h1>
      <a href="https://material.io/guidelines/components/expansion-panels.html#expansion-panels-specs">
        Material Design Spec.
      </a>
      <p>
        Expansion panels contain creation flows and allow lightweight editing of an element.
      </p>

      <div id="import-theme-tmpl" class="clear-both"></div>

      <a-card class="simple">
        <div class="title">
          <h2>Simple Example</h2>
        </div>
        <div class="text">
          <div class="demo"></div>
          <div>
            <a-switch id="vs0001" class="view-source"></a-switch>
            <label for="vs0001"> View Source</label>
            <pre class="code prettyprint"></pre>
          </div>
        </div>
      </a-card>
      <script>setDemo('template.simple', 'a-card.simple')</script>

    </div>

    <div class="container">
      <a-list>
        <ul>
          <h3>Element Classes</h3>
          <li> <an-icon>code</an-icon>
            <div><div>expanded</div>
               <div class="text">Indicates that the expansion-panel is expanded. Without this, it's collapsed.</div> 
            </div>
          </li>
        </ul>
      </a-list>
      <a-list>
        <ul>
          <h3>Child Element Classes</h3>
          <li> <an-icon>settings_ethernet</an-icon>
            <div><div>title</div>
               <div class="text">Title section of the panel. This is visible when it is collapsed.</div> 
            </div>
          </li>
          <li> <an-icon>settings_ethernet</an-icon>
            <div><div>text</div>
               <div class="text">Contents section of the expansion panel. This is collapsed when not expanded.</div> 
            </div>
          </li>
          <li> <an-icon>settings_ethernet</an-icon>
            <div><div>actions</div>
               <div class="text">Action buttons of the panel. This is collapsed when not expanded.</div> 
            </div>
          </li>
        </ul>
      </a-list>
    </div>
      
  </body>
</html>

</html>
