<!doctype html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <an-app-bar app-title="app-bar" fixed>
      <div class="nav-icon">
        <i class="material-icons icon">menu</i>
      </div>
      <span class="title">Custom Elements With Material Design</span>
      <div class="icons">
        <i class="material-icons icon">favorite</i>
        <i class="material-icons icon">search</i>
        <i class="material-icons icon">more_vert</i>
      </div>
    </an-app-bar>

    <script src="dist/main.min.js"></script>
  </body>
</html>
